body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
    }
    .slider {
      position: relative;
      width: 700px;
      height: 400px;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    }
    .slides {
      display: flex;
      width: 200%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
    }
    .slides img {
      width: 700%;
      height: 400px;
      object-fit: cover;
    }
    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      background: rgba(0,0,0,0.5);
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 50%;
    }
    .prev {
      left: 15px;
    }
    .next {
      right: 15px;
    }
    h1{
      text-align: center;
      color:fuchsia;
    }